<!DOCTYPE html>

<html>
<head>
	<title>ColdPlay</title>
	<style>
		.empty{
			height: 10px;
		}
		.empty3{
			height: 30px;
		}
		.background{
			background-image: url("http://i.imgur.com/Q7v3HOJ.png?1");
			background-position: center;
			background-size:100%;
		}
		.topLogo{
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 90px;
			width: 80px;
			color : transparent;
		}
		.tree{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			height: 300px;
		}
		.p1{
			margin-left: 6%;
			display:inline-block;
			width: 25%;
		}
		.leftP{
			margin-left: 15%;
			width: 30%;
			display:inline-block;
		}
		.rightP{
			margin-right: 15%;
			float: right;
			width: 30%;
			display:inline-block;
		}
		.separator1{
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 140px;
			width: 30%;
		}
		.separator2{
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 40px;
			width: 50%;
		}
		.initiatives{
			margin-left: 30%;
			margin-right: 30%;
		}
		.extramargin{
			margin-left: 30%;
			margin-right: 30%;
		}
		.achieve{
			overflow: hidden;
		}
		.profileImage{
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 90px;
			width: 80px;
			border: 3px solid;
		}
		.leftTitles{
			color: orange;
		}
		.titles{
			position: relative;
			text-align: center;
			color: orange;
		}
		.name{
			position: relative;
			text-align: center;
			color: white;
		}
		.leftPhoto{
			margin-left: 15%;
			width: 30%;
			display:inline-block;
		}
		.rightPhoto{
			margin-right: 15%;
			float: right;
			width: 30%;
			display:inline-block;
		}
		.paragraph{
			position: relative;
			text-align: center;
			color: white;
		}
		.leftParagraph{
			position: relative;
			text-align: left;
			color: white;
		}
		.upcoming{
			margin-left: 20%;
			display:inline-block;
		}
		.recent{
			margin-left: 25%;
			display:inline-block;
		}
		.footerText{
			display:inline-block;
			margin-left: 30%;
			width: 30%;
		}
		.quote{
			height: 25px;
			width: 90%;
		}
		.signature{
			margin-left: 75%;
			height: 20px;
			width: 25%;
		}
		.dove{
			margin-left: 0%;
			height: 90px;
			width: 80px;
			display:inline-block;
		}

	</style>
</head>
<body>
<div class="background">
	<div class="empty3"></div>

	<img class="topLogo" src="http://i.imgur.com/DDZqXaG.jpg?1">

	<div class="empty3"></div>

	<div>
		<img class="tree" src="http://i.imgur.com/o5puvzI.png?1">
	</div>

	<div>
		<div class="p1"> 
			<h6 class="leftTitles"> Title </h6>
			<p class="leftParagraph">aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
			<h6 class="leftTitles"> Title </h6>
			<p class="leftParagraph">aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
		</div>

		<div class="p1"> 
			<h6 class="leftTitles"> Title </h6>
			<p class="leftParagraph">aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
			<h6 class="leftTitles"> Title </h6>
			<p class="leftParagraph">aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
			<h6 class="leftTitles"> Title </h6>
			<p class="leftParagraph">aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
		</div>

		<div class="p1"> 
			<h6 class="leftTitles"> Title </h6>
			<p class="leftParagraph">aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
			<h6 class="leftTitles"> Title </h6>
			<p class="leftParagraph">aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
		</div>
		
	</div>

	<div>
		<img class="separator1" src="http://i.imgur.com/rc3mKWL.png?1">
	</div>

	<div>
		<h5 class="titles"> Last Salon Event</h5>
		<h5 class="name"> Marionette</h5>
		<div class="leftP">
			<p class="paragraph"> aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa  </p>
		</div>
		<div class="rightP">
			<p class="paragraph"> aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa </p>
		</div>
	</div>

	<div class="empty3"></div>

	<div>
		<img class="separator2" src="http://i.imgur.com/kZbL3fg.png?1">
	</div>
	<div class="initiatives">
		<h5 class="titles"> ADs Worth Spreading(TED Inetiatives)</h5>
		<div class="extramargin">
			<p class="paragraph"> aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa </p>
		</div>
		
	</div>

	<div class="achieve">

	<h5 class="titles">Achievements</h5>

	<div class="leftPhoto">
		<h5 class="name">MINA</h5>
		<img class="profileImage" src="http://i.imgur.com/x5vYKqT.jpg?1" />
		<p class="paragraph"> aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
	</div>

	<div class="rightPhoto">
		<h5 class="name">AMR MAGDY</h5>
		<img class="profileImage" src="http://i.imgur.com/JZBoRIj.jpg?1" />
		<p class="paragraph"> aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
	</div>

	</div>

	<div class="empty3"></div>
	<div class="empty3"></div>

	<div>
		<h5 class="titles"> TEDx Previous & Upcoming Events:</h5>
		<div class="upcoming">
			<h6 class="titles"> Upcoming Events</h6>
			<p class="paragraph"> aaaaaaaaa            aaaaaaaaaaaaaaaa</p>
			<p class="paragraph"> aaaaaaaaa            aaaaaaaaaaaaaaaa</p>
		</div>

		<div class="recent">
			<h6 class="titles"> Recent Events</h6>
			<p class="paragraph"> aaaaaaaaa            aaaaaaaaaaaaaaaa</p>
			<p class="paragraph"> aaaaaaaaa            aaaaaaaaaaaaaaaa</p>
		</div>
	</div>

	<div class="empty3"></div>
	<div class="empty3"></div>

	<div>
		<div class="footerText">
			<img class="quote" src="http://i.imgur.com/KGSO8iG.png?1">
			<div class="empty"></div>
			<img class="signature"src="http://i.imgur.com/rscXHGw.png?1">
		</div>
		<img class="dove" src="http://i.imgur.com/Ci8hnsi.jpg?1">
	</div>

	<div class="empty3"></div>
</div>
</body>
</html>
