<!DOCTYPE html>

<html>
<head>
	<title>ColdPlay</title>
	<style>
		.empty{
			height: 10px;
		}
		.empty3{
			height: 30px;
		}
		a{
			color: red;
			text-decoration: none;
		}
		.background{
			background-image: url("http://i.imgur.com/Q7v3HOJ.png?1");
			background-position: center;
			background-size:cover;
		}
		.topLogo{
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 200px;
			width: 200px;
			color : transparent;
		}
		.tree{
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10%;
			margin-top: 10%;
			width: 50%;
			height: 300px;
		}
		.p1{
			margin-left: 6%;
			display:inline-block;
			width: 25%;
		}
		.p1_Left{
			margin-left: 6%;
			display:inline-block;
			width: 25%;
			padding-bottom: 10%;

		}
		.leftP{
			margin-left: 15%;
			width: 30%;
			display:inline-block;
			margin-bottom: 7%;
		}
		.rightP{
			margin-right: 15%;
			float: right;
			width: 30%;
			display:inline-block;
			margin-bottom: 7%;
		}
		.separator1{
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 140px;
			width: 30%;
		}
		.separator2{
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10%;
			height: 40px;
			width: 50%;
		}
		.initiatives{
			margin-left: 20%;
			margin-right: 20%;
		}
		.extramargin{
			margin-left: 5%;
			margin-right: 5%;
		}
		.achieve{
			overflow: hidden;
		}
		.profileImage{
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 130px;
			width: 110px;
			border: 3px solid;
			border-radius: 25px;
		}
		.titles{
			position: relative;
			text-align: center;
			color: red;
			font-size:150%;
			margin: 5%
		}
		.name{
			position: relative;
			text-align: center;
			color: white;
			font-size: 22px;
		}
		.leftPhoto{
			margin-left: 15%;
			width: 30%;
			display:inline-block;

		}
		.rightPhoto{
			margin-right: 15%;
			float: right;
			width: 30%;
			display:inline-block;
		}
		.paragraph{
			position: relative;
			text-align: center;
			color: white;
			text-justify: inter-word;
		}
		.paragraphAD{
			position: relative;
			text-align: center;
			color: white;
			text-justify: inter-word;
			margin-left: auto;
		}
		.upcoming{
			margin-left: 20%;
			display:inline-block;
		}
		.recent{
			margin-left: 25%;
			display:inline-block;
		}
		.footerText{
			display:inline-block;
			margin-left: 30%;
			width: 30%;
		}
		.quote{
			height: 25px;
			width: 90%;
		}
		.signature{
			margin-left: 75%;
			height: 20px;
			width: 25%;
		}
		.dove{
			margin-left: 0%;
			height: 90px;
			width: 80px;
			display:inline-block;
		}

	</style>
</head>
<body>
<div class="background">
	<div class="empty3"></div>

	<img class="topLogo" src="http://s13.postimg.org/x07or07md/Top_Logo_wings.png">

	<div class="empty3"></div>

	<div>
		<img class="tree" src="http://i.imgur.com/o5puvzI.png?1">
	</div>

	<div>
		<div class="p1"> 
			<h6 class="titles"> Coordination and Logistics </h6>
			<p class="paragraph">Coordination and logistics is currently researching for the placement of the venue on which the main event will take place on. Also Coordination and logistics is working in cooperation with fundraising in fulfilling the needs for the main event as a whole.</p>

			<h6 class="titles"> Fundraising </h6>
			<p class="paragraph">Fundraising team has just completed its market research and is currently prioritizing its approach towards funding sponsors that will allow primarily in the assistance of Coordination and Logistics in completing their vision towards the main event. Also Fundraising will later on be approaching various kind of sponsors including those that will be catering the event.</p>
		</div>

		<div class="p1"> 
			<h6 class="titles"> Design Team</h6>
			<p class="paragraph">The design team’s main priority is generating the main event’s visual theme. This was divided into three sessions and the first one is already over which was a workshop. Working with PR for the performer’s application.</p>
			<h6 class="titles"> Public relations </h6>
			<p class="paragraph">Public relations team on its way to the main event will be looking to reaching out to a numerous amount of media sponsors, as well as planning for the media sponsor activities. Also PR will be looking to market the direction set by the Marketing division through the media sponsors platforms which include social media pages.
			PR will also be looking to enhance the main event experience starting firstly with the development of a different attendee’s application system which will ensure more efficiency when it comes to filtration. Also PR will be taking part in the planning of creative activities alongside AD and SM for the TEDxGUC attendees’ activities. Lastly, PR will be looking to provide a proper ushering plan for the main event.</p>
			<h6 class="titles"> Social Media </h6>
			<p class="paragraph">Social Media is working on the launch of the performances application for the main event. It is also working on the revelation of this main event’s theme, which upon its revealing speakers shall be announced and attendee’s application. SM is also responsible for the creation of the event activities alongside AD and PR.</p>
		</div>

		<div class="p1"> 
			<h6 class="titles"> Associates Development </h6>
			<p class="paragraph">Associates Development will be on its way to the main event through its contribution to one of the most important shareholders and that is the associates. AD will ensure that all associates are living up to their potential and are maximizing their performance output. AD is also responsible for the planning and monitoring of the main event activities.</p>
			<h6 class="titles"> Speakers and Coaching </h6>
			<p class="paragraph">The brilliant speakers and coaching team are done with their research phase and started already approaching some sparkling mindsets who will bring their ideas into light through the TEDxGUC platform.</p>
		</div>
		
	</div>

	<div>
		<img class="separator1" src="http://i.imgur.com/rc3mKWL.png?1">
	</div>

	<div>
		<h5 class="titles"> Last Salon Event</h5>
		<h5 class="name"> Marionette</h5>
		<div class="leftP">
			<p class="paragraph"> Marionette, gradually grew from the urban planning idea into the Salon event of the year. It was planned and executed under the leadership of Mayar Hossam, through the guidance of the executives and curators, and the power of the associates. Marionette, like all other TEDxGUC events was postponed heavily by the stirring events that were taking place with in university. However, the working circle was capable of adapting in order to adhere to a revised timeline upon which the salon event was created.
			The planning of the event is mainly broken down into three main phases; theme generation and overall planning, marketing of the event and lastly the main event preparation. The theme generation and overall planning phase saw each team within the circle indulge into specific team obligations starting with the venue research by Coordination and logistics, followed by sponsors’ research by Fundraising, with the selection of the talks by Speakers and coaching, as well as the finding of the host by Public relations. Also Design was responsible for the visualization of the theme, and this phase also saw Associates Development and Social Media cooperate in brainstorming of the activities, and SM also was responsible for the theme description. The marketing of the event was mainly held through both an online campaign on social media and through a booth that was placed within university. The booth’s design was quite intriguing to by-passers that were coveted to check out what the booth has to offer. he blue and red design with the glasses and markers placed a moment of amusement and astonishment within each by-passer. </p>
		</div>
		<div class="rightP">
			<p class="paragraph">The booth was covered with the dream of each person that by-passed it as they wrote it down, with the awareness that their dream might also be their own nightmare.
			The last phase of the event saw the preparation of the speakers of the event which were Menna Mourad with “How Women are Affected by Urban Planning” and Yehia Serag with “How to construct a City”. This phase also covered the finalization of the activities, ushering plan, the design of the event, the acceptance of the attendees and the bringing in of the sponsors. Fundraising was capable of bringing in two sponsors that supplemented the salon’s vision which were Doux and Mofakera.
			On the day of the event, with the stroke of the design team and the helping hand of the whole organization, the D1 was unrecognizable by attendees that had entered it before. The talks and speakers indulged the attendees on a crusade to which they would carry their message to the community surrounding them. The attendees were flourishing with ideas and ways to rebuild, re-plan and to recreate the city that they had wished that they had lived in. “The city of the future is the city that cares about its citizens,” (Radwan through twitter) according to one of the attendees. This salon event made the attendees which came all the way from different parts around Egypt including Fayoum and Alexandria to reimburse their faith and hope that their hometown will be rebuilt into a better place to live in.
			check it out this salon event’s desgins along with other designs completed by the TEDxGUC team on our behance account <a href="https://www.behance.net/TEDxGUC"> here.</a> </p>
		</div>
	</div>

	<div class="empty3"></div>

	<div>
		<img class="separator2" src="http://i.imgur.com/kZbL3fg.png?1">
	</div>
	<div class="initiatives">
		<h5 class="titles"> ADs Worth Spreading(TED Inetiatives)</h5>
		<div class="extramargin">
			<p class="paragraphAD"> Ads worth Spreading is a TED’s initiative in order to recognize and reward innovation, ingenuity and intelligence in advertising -- to highlight the ads that people want to see and share with their friends. An ad worth spreading is a short way of communicating an idea. What makes these ideas powerful is that they have a life of their own; an idea can reset someone’s worldview and even begin a domino effect as they pass it on to friends.
			Sounds interesting? Here are two of the winners in TED’s Ads worth spreading challenge for 2014 </p>
		</div>
		
	</div>

	<div class="achieve">

	<h5 class="titles">Achievements</h5>

	<div class="leftPhoto">
		<h5 class="name">MINA</h5>
		<img class="profileImage" src="http://i.imgur.com/x5vYKqT.jpg?1" />
		<p class="paragraph"> Mina is becoming quite the TV star. He stared in one advertisement that is set to air in ramadan and he has just finished shooting his second. Hopefully soon we'll be seeing him on the big screen. Check out the Ad on<a href="https://youtu.be/ZTm3XYsiEp0">  youtube.</a></p>
	</div>

	<div class="rightPhoto">
		<h5 class="name">AMR MAGDY</h5>
		<img class="profileImage" src="http://i.imgur.com/JZBoRIj.jpg?1" />
		<p class="paragraph"> We have a DJ in TEDxGUC, Amr magdy from team PR created a mix of cairokee’s new single Mr. boombastic and it has already been played 3.2K times. Here is the link enjoy, <a href="https://soundcloud.com/orcyy/cairokee-marboot-be-astek-orcy-remix">  soundcloud.</a> </p>
	</div>

	</div>

	<div class="empty3"></div>
	<div class="empty3"></div>

	<div>
		<h5 class="titles"> TEDx Previous & Upcoming Events:</h5>
		<div class="upcoming">
			<h6 class="titles"> Upcoming Events</h6>
			<p class="paragraph">  August 22, 2015      //       TEDxBeni Suef (standard)</p>
			<p class="paragraph"> August 25, 2015       //      TEDxAASTMT   (University)</p>
		</div>

		<div class="recent">
			<h6 class="titles"> Recent Events</h6>
			<p class="paragraph">   May 30, 2015                         //                   TEDxCairo Women (Tedxwomen)</p>
			<p class="paragraph">   May 16, 2015                          //                          T­E­Dx­Cairo (standard)</p>
		</div>
	</div>

	<div class="empty3"></div>
	<div class="empty3"></div>

	<div>
		<div class="footerText">
			<img class="quote" src="http://i.imgur.com/KGSO8iG.png?1">
			<div class="empty"></div>
			<img class="signature"src="http://i.imgur.com/rscXHGw.png?1">
		</div>
		<img class="dove" src="http://s21.postimg.org/m7p9bu685/imageedit_6211540829.png">
	</div>

	<div class="empty3"></div>
</div>
</body>
</html>
