<!DOCTYPE html>

<html>
<head>
	<title>ColdPlay</title>
	<style>
		.background{
		background-image: url("http://i.imgur.com/Q7v3HOJ.png?1");
		background-position: center;
		}
		.initiatives{
			margin-left: 30%;
			margin-right: 30%;
		}
		.extramargin{
			margin-left: 30%;
			margin-right: 30%;
		}
		.achieve{
			overflow: hidden;
		}
		.profileImage{
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 90px;
			width: 80px;
			border: 3px solid;
		}
		.titles{
			position: relative;
			text-align: center;
			color: orange;
		}
		.name{
			position: relative;
			text-align: center;
			color: white;
		}
		.leftPhoto{
			margin-left: 20px;
			width: 400px;
			height: 230px;
			display:inline-block;
		}
		.rightPhoto{
			margin-right: 20px;
			float: right;
			width: 400px;
			height: 230px;
			display:inline-block;
		}
		.paragraph{
			position: relative;
			text-align: center;
			color: white;
		}
		.upcoming{
			margin-left: 20%;
			display:inline-block;
		}
		.recent{
			margin-left: 25%;
			
			display:inline-block;
		}

	</style>
</head>
<body>
<div class="background">
	<div class="initiatives">
		<h5 class="titles"> ADs Worth Spreading(TED Inetiatives)</h5>
		<div class="extramargin">
			<p class="paragraph"> aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa </p>
		</div>
		
	</div>

	<div class="achieve">

	<h5 class="titles">Achievements</h5>

	<div class="leftPhoto">
		<h5 class="name">MINA</h5>
		<img class="profileImage" src="http://i.imgur.com/x5vYKqT.jpg?1" />
		<p class="paragraph"> aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
	</div>

	<div class="rightPhoto">
		<h5 class="name">AMR MAGDY</h5>
		<img class="profileImage" src="http://i.imgur.com/JZBoRIj.jpg?1" />
		<p class="paragraph"> aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa aaaaaa aaaa aaaaa aaaaaaaaa aaaa aaaaa aaaaa aa aaaa</p>
	</div>

	</div>

	<div>
		<h5 class="titles"> TEDx Previous & Upcoming Events:</h5>
		<div class="upcoming">
			<h6 class="titles"> Upcoming Events</h6>
			<p class="paragraph"> aaaaaaaaa            aaaaaaaaaaaaaaaa</p>
			<p class="paragraph"> aaaaaaaaa            aaaaaaaaaaaaaaaa</p>
		</div>

		<div class="recent">
			<h6 class="titles"> Recent Events</h6>
			<p class="paragraph"> aaaaaaaaa            aaaaaaaaaaaaaaaa</p>
			<p class="paragraph"> aaaaaaaaa            aaaaaaaaaaaaaaaa</p>
		</div>
	</div>
</div>
</body>
</html>
