<!DOCTYPE html>
<html>

<head> 
<title>TEDxGUC-Newsletter</title>
<style>

	
	.next {
    text-align: right;
   
}

</style>

</head>

<body>
 <embed name="HarryPotter" src="http://vocaroo.com/i/s0BDZemFhk6C" loop="false" hidden="true" autostart="true"> 

 <div  style="width:100%; text-align:center">
<img src="http://s5.postimg.org/8ys3ymao7/hp1.png" height="100%" width="80%">
</div>

<button onclick="location.href = '/';" id="myButton" style="font-family:'Trebuchet MS'; align:'left'; vertical-align: middle; width: 100px; height: 20px"  >Home</button>

<div class = "next">
<button onclick="location.href = 'page2';" id="myButton" style="font-family:'Trebuchet MS'; align:'left'; vertical-align: middle; width: 100px; height: 20px"  >Next</button>
</div>
 </body>