<html><head>
    <title> TEDxGUC Newsletter Issue 2 </title>
    <style>
    
    
    body {
 
}
header
 {

 }

   </style>


</head>
<body><header>

         <img src="http://i.imgur.com/YvNUXJC.png" style=" margin-top:50px; margin-left:480px; ">

    </header>
         
               

        <a href="/welcome/index" ><img src="http://i.imgur.com/V2X0Rtd.png" style=" margin-top:100px; margin-left:400px; "> </a>

        <a href="/home/issue_2"> <img src="   http://i.imgur.com/Ot9ginm.png" style=" margin-top:100px; margin-left:270px; "> </a>

         <img src="   http://i.imgur.com/yf43DTs.png" style=" margin-top:60px; margin-left:380px; ">

         <img src="   http://i.imgur.com/gPAPN8b.png" style=" margin-top:60px; margin-left:255px; ">

    </body></html>