<html><head>
    <title> TEDxGUC Newsletter Issue 2 </title>
    <style>
    
    
    body {

    	background: url("http://i.imgur.com/Au8tKQx.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        width: 100%;
        max-height: 100%;
        background-size: 100% 100%;
 
}  



.armin{

	 margin-top: -80px;
	 margin-left: 10px;
} 


 .coldplay {


     margin-top: 325px;
	 margin-left: 10px;

 }


 .pink {

    margin-left: 1000px;
    margin-top: 50px;
	

 }

 .beatles {
           margin-left: 1005px;
         margin-top: -130px;
 }

header
 {

 }

   </style>


</head>

<body><div class="pink">
       <a href="/i2/pink"> <img src="http://i.imgur.com/9TvKvPS.png"> </a>
    </div>





	 <div class="armin">
       <a href="/i2/armin"> <img src="http://i.imgur.com/6vdLslp.png"> </a>
    </div>

<div class="coldplay">
       <a href="/i2/cold"> <img src="http://i.imgur.com/7Y6yJNO.png"> </a>
    </div>






 <div class="beatles">
      <a href="/i2/beatles">  <img src="http://i.imgur.com/VuCALj4.png"> </a>
    </div>

</body></html>