<!DOCTYPE html>
<html>

<head> 

	<style>





h1{

	text-align: center;
}







body {
background-image: url(http://s5.postimg.org/5y22qlklj/image.jpg); /*You will specify your image path here.*/

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}

.T{

position:absolute;

text-align: center;
width:1250px;
}

.T1{
position:absolute;

text-align: center;
width:1250px;

vertical-align: 50px;

}
	</style>
<title>TEDxGUC-Newsletter</title>


<body background="T.jpg" >

<h1 style="font-family: Trebuchet MS; color:white"> YOU'RE DISMISSED.</h1>

<div class="T1">
<h5 style="font-family: Trebuchet MS; color:white"> This Is Just A Joke:p Go Back and Choose Something Else ;) </h5>
</div>

<div class="T">
<button onclick="location.href = '/';" id="myButton" style="font-family:'Trebuchet MS'; align='center';" >Home</button>
</div>

</body>
</head>

</html>