<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>


  let the games begin

</p>

<img src = "http://s13.postimg.org/5haj21s9j/image.jpg" alt = "Dman where is that image !?" >

<a href = 'batman/index'> this is a link </a>