<!DOCTYPE html>
<html>

<head> 
<title>TEDxGUC-Newsletter</title>
<link rel="stylesheet" type="text/css" href="ted.css">


</head>

<body>

<img src="http://s5.postimg.org/b71p27sef/Cover_Photo_05.png" width="100%">

<a href="batman/index"> <img src="http://s5.postimg.org/vbqntxwuf/Cover_06.png" height="25%" width="25%" align="left"> </a>
<a href="captain_america/home"> <img src="http://s5.postimg.org/qfn128wp3/Cover_07.png" height="25%" width="25%" align="left"></a>
<a href="harry_potter/home"> <img src="http://s5.postimg.org/tb04940p3/Cover_08.png" height="25%" width="25%" align="left"> </a>
<a href="twilight/Dismissed"> <img src="http://s5.postimg.org/4ry2rswav/Cover_09.png" height="25%" width="25%" align="left"> </a>


</body>

</html>