
<!DOCTYPE html>

<head>
    <title> TEDxGUC Newsletter Issue 2 </title>
    <style>
    h1 {
        margin-top: 70px;
        color:   #00FF00 ;
        font-size: 44px;
    }
    a{
         color:   #00FF00 ;
    }
    
    body {
        text-align: center;
        background: url("http://i.imgur.com/O4RT80d.png");
        background-size: cover;
        background-position: top;
        color: white;
        font-family: helvetica;
    }
    
    p {
        font-size: 15pt;
        margin-top: 30px;
        margin-right: 45px;
        margin-left: 45px;
    }
    
    h2 {
        color:   #00FF00 ;
        margin-top: 50px;
        font-size: 44px;
    }
    
    h3 {
        color:   #C9C909;
        margin-right: 460px;
    }
    
    header {
        background-image: url('http://i.imgur.com/tqrFymT.png');
        min-height: 12%;
        background-position-x: 56%;
    }
    
    .title {
        height: auto;
        width: 24%;
        padding-top: 17%;
    }
    
    .left {
        float: left;
        max-width: 29%;
        font-size: 14pt;
        margin-right: 200px;
        margin-top: -19px;
    }
    
    .smallTitle {
        font-size: 17pt;
        width: 100%;
        margin-left: -5px;
        margin-bottom: -26px;
    }
    
    .middle {
        float: left;
        max-width: 29%;
        margin-left: -107px;
        margin-top: 32px;
    }
    
    .right {
        max-width: 29%;
        float: left;
        margin-top: -24px;
    }
    
    .wrap {
        width: 100%;
        padding-bottom: 96%;
    }
    .wrap2 {
        width: 100%;
        padding-bottom: 30%;
    }
    .achieve{
            overflow: hidden;
    }

    .leftPhoto{
            margin-left: 15%;
            width: 30%;
            display:inline-block;

    }

    .rightPhoto{
            margin-right: 15%;
            float: right;
            width: 30%;
            display:inline-block;
    }
        

    .name{
            position: relative;
            text-align: center;
            color: white;
            font-size: 22px;
    }
    .profileImage{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 130px;
            width: 110px;
            border: 3px solid;
            border-radius: 25px;
    }

    .empty{
            height: 10px;
    }
    .empty3{
            height: 30px;
    }
     .emptyp{
            height: 40px;
    }
    .upcoming{
            margin-left: 20%;
            display:inline-block;
        }
        .recent{
            margin-left: 25%;
            display:inline-block;
        }
        .quote{
            height: 25px;
            width: 90%;
        }
        .signature{
            height: 80%;
            width: 100%;
        }
        .dove{
            margin-left: 0%;
            height: 90px;
            width: 80px;
            display:inline-block;
        }
        .separator2{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10%;
            height: 40px;
            width: 50%;
        }

        .leftP{
            margin-left: 3%;
            width: 39%;
            display:inline-block;
            margin-bottom: 7%;
            margin-top: 5%;
            margin-right: 3%;
        }
        .rightP{
            margin-right: 3%;
            width: 39%;
            display:inline-block;
            margin-bottom: 7%;
            margin-top: 5%;
            margin-left: 3%;
        }
        .ads{
            margin-left: 5%;
            margin-right: 5%;
        }

        .tedRe{

        max-width: 25%;
        float: left;
        margin-left: 13%;
        margin-right: 12%;
        
        }

        .tedUp{
            float: left;
        max-width: 25%;
        margin-right: 10%;
        margin-left: 15%;
        }

        .aboutAd{
            margin-left: 20%;
            margin-right: 20%;
            text-decoration: bold;
            font-size: 14px;
        }
        .buttonWrapper{
            text-align: center;
        }
     
        .buttonT {
     
    /*Step 2: Basic Button Styles*/
    
    height: 50px;
    width: 170px;
    background: #00FF00;
    border: 2px solid rgba(33, 68, 72, 0.59);
    position: absolute;
    vertical-align:middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
     
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
     
     
    border-radius: 25px;
     
    
     
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
     
}
 

.buttonT:hover {
    background: #C9C909;
   
}
    </style>
</head>
<div class="homepage" style="height: 3500px;">

    <body>
        <header>
            <embed name="Batman" src="http://vocaroo.com/i/s1OVmMFwjTjJ" loop="false" hidden="true" autostart="true">
            <img class="title" src="http://i.imgur.com/aS7Q3CN.png" />
            <!-- <img src="http://i.imgur.com/2e126ro.png"/> -->
        </header>
        <hr width="50%">
        <h1> "Back And Forth" Theme Generation   </h1>
        <p align="left">
            In order to come to the theme of this year's main event which is Back and Forth, each member within the Board of Curators and Board of Executives embodied a certain aspect of society or life. Ahmed Abulnaga embodied the business/entrepreneurship aspect, Aya Samy was representing the activists, Nourhan Ayman was embodying the artists/designers, Sally Youssef was the Nature aspect, Mohanad El Emary was the culture aspect, Omar Mahmoud was embodying the technology aspect, Farah Hesham was representing the social network/bloggers and Mohamed Faramawy was the athletic/healthy aspect of life. After the associates have been divided among each aspect and sat down and discussed each of them with the respected executive or curator, the whole organization sat down with one goal to explore into the unknown and identify the theme for TEDxGUC 2015. With the struggle of long hours and endless discussions, Back and Forth arose to be the chosen theme for TEDxGUC 2015. Back and Forth is considered the constant movement that is contributing to all the aspects of our living. Moving back and forth creates vitality needed to maintain life. In its simplest forms, one constantly takes a step back from what consumes them on order to pay it forward, to keep the cycle we call life running. Just like an individual continually moving between two standpoints when making decisions or facing struggles. Even in research, science and technology advancement, Back and Forth is a prominent movement; one needs to make a step back into the past its history and origins, in order to go forth with new creations. If that movements stops than all else ceases, it is what makes us human.
        </p>
        <br>
        <br>
        <hr width="50%">
        <h2> ROAD TO THE MAIN EVENT </h2>
        <div width="100%"> <img src="http://i.imgur.com/gJXh3PQ.png" width="600" height="350" /></div>
        <div class="wrap">
            <div class="left">
                <h3 class="smallTitle"> Coordination and Logistics </h3>
                <p align="left">
                    Coordination and logistics is currently researching for the placement of the venue on which the main event will take place on. Also Coordination and logistics is working in cooperation with fundraising in fulfilling the needs for the main event as a whole.
                </p>
                <br>
                <br>
                <h3 class="smallTitle" style="margin-left:-86px;">Fundraising</h3>
                <p align="left">
                    Fundraising team has just completed its market research and is currently prioritizing its approach towards funding sponsors that will allow primarily in the assistance of Coordination and Logistics in completing their vision towards the main event. Also Fundraising will later on be approaching various kind of sponsors including those that will be catering the event.
                </p>
            </div>
            <!--end of first column -->
            <div class="middle">
                <h3 class="smallTitle" style="margin-left:-80px;">Design Team </h3>
                <p align="left">
                    The design team's main priority is generating the main event's visual theme. This was divided into three sessions and the first one is already over which was a workshop. Working with PR for the performer's application.
                </p>
                <h3 class="smallTitle" style="margin-left: -63px; margin-top: 55px;"> Public Relations </h3>
                <p align="left">
                    Public relations team on its way to the main event will be looking to reaching out to a numerous amount of media sponsors, as well as planning for the media sponsor activities. Also PR will be looking to market the direction set by the Marketing division through the media sponsors platforms which include social media pages. PR will also be looking to enhance the main event experience starting firstly with the development of a different attendee's application system which will ensure more efficiency when it comes to filtration. Also PR will be taking part in the planning of creative activities alongside AD and SM for the TEDxGUC attendees' activities. Lastly, PR will be looking to provide a proper ushering plan for the main event. </p>
                <h3 class="smallTitle" style="margin-left: -82px; margin-top: 55px;"> Social Media </h3>
                <p align="left">
                    Social Media is working on the launch of the performances application for the main event. It is also working on the revelation of this main event's theme, which upon its revealing speakers shall be announced and attendee's application. SM is also responsible for the creation of the event activities alongside AD and PR. </p>
            </div>
            <!-- end of 2nd column -->
            <div class="right">
                <h3 class="smallTitle" style="margin-left:-22px;"> Speakers and Coaching </h3>
                <p align="left">
                    Speakers & coaching team are done with their research phase and started already approaching some sparkling mindsets who will bring their ideas into light through the TEDxGUC platform.
                </p>
                <br>
                <br>
                <h3 class="smallTitle" style="margin-left:-19px;">Associates Development</h3>
                <p align="left">
                    Associates Development will be on its way to the main event through its contribution to one of the most important shareholders and that is the associates. AD will ensure that all associates are living up to their potential and are maximizing their performance output. AD is also responsible for the planning and monitoring of the main event activities.
                </p>
            </div>
            <!--  end of 3rd column -->
        </div>
        <img src="http://i.imgur.com/QoP90DR.png" >


       <div class="empty3"></div>
        <div class="empty3"></div>
        <div class="empty3"></div>
<div>
        <h1> Last Salon Event</h1>
        <h3 class="smallTitle"> MARIONETTE</h3>
         <div class="empty3"></div>
        <div class="leftP">
            <p align="left"> Marionette, gradually grew from the urban planning idea into the Salon event of the year. It was planned and executed under the leadership of Mayar Hossam, through the guidance of the executives and curators, and the power of the associates. Marionette, like all other TEDxGUC events was postponed heavily by the stirring events that were taking place with in university. However, the working circle was capable of adapting in order to adhere to a revised timeline upon which the salon event was created.
            The planning of the event is mainly broken down into three main phases; theme generation and overall planning, marketing of the event and lastly the main event preparation. The theme generation and overall planning phase saw each team within the circle indulge into specific team obligations starting with the venue research by Coordination and logistics, followed by sponsors' research by Fundraising, with the selection of the talks by Speakers and coaching, as well as the finding of the host by Public relations. Also Design was responsible for the visualization of the theme, and this phase also saw Associates Development and Social Media cooperate in brainstorming of the activities, and SM also was responsible for the theme description. The marketing of the event was mainly held through both an online campaign on social media and through a booth that was placed within university. The booth's design was quite intriguing to by-passers that were coveted to check out what the booth has to offer. he blue and red design with the glasses and markers placed a moment of amusement and astonishment within each by-passer. </p>
        </div>
        <div class="rightP">
            <p align="left">The booth was covered with the dream of each person that by-passed it as they wrote it down, with the awareness that their dream might also be their own nightmare.
            The last phase of the event saw the preparation of the speakers of the event which were Menna Mourad with " How Women are Affected by Urban Planning " and Yehia Serag with " How to construct a City ". This phase also covered the finalization of the activities, ushering plan, the design of the event, the acceptance of the attendees and the bringing in of the sponsors. Fundraising was capable of bringing in two sponsors that supplemented the salon's vision which were Doux and Mofakera.
            On the day of the salon event, with the stroke of the design team and the helping hands of the whole organization, the D1 was unrecognizable by attendees that had entered it before. The talks and speakers indulged the attendees on a crusade to which they would carry their message to the community surrounding them. The attendees were flourishing with ideas and ways to rebuild, re-plan and to recreate the city that they had wished that they had lived in. " The city of the future is the city that cares about its citizens " (Radwan through twitter) according to one of the attendees. This salon event made the attendees which came all the way from different parts around Egypt including Fayoum and Alexandria to reimburse their faith and hope that their hometown will be rebuilt into a better place to live in.      
            check out this salon event's desgins along with other designs completed by the TEDxGUC team on our behance account <a href="https://www.behance.net/TEDxGUC"> here.</a> </p>
        </div>
    </div>

    <div class="empty3"></div>
    <div class="empty3"></div>

    <div>
        
     
        <img src="http://s27.postimg.org/5zvwu260j/Armin_Van _Buuren_Separator_2.png" width = "920" height = "100">

    </div>
    <div class="empty3"></div>
    <div class="empty3"></div>
    <div class="empty3"></div>
        <div class="empty3"></div>
    <div class="initiatives">
        <h1 > ADs Worth Spreading (TED Initiatives)</h1>
        <div class="empty3"></div>
        <div class="ads">
            <p align="left">  Ads worth Spreading is a TED's initiative in order to recognize and reward innovation, ingenuity and intelligence in advertising -- to highlight the ads that people want to see and share with their friends. An ad worth spreading is a short way of communicating an idea. What makes these ideas powerful is that they have a life of their own; an idea can reset someone's worldview and even begin a domino effect as they pass it on to friends.What's different about ads worth spreading is that it's not an award show. The ads chosen are reference points meant to reflect the best of advertising today and help others lift their game by rising to an industry-wide challenge.
            Sounds interesting? Here are two of the winners in TED's Ads worth spreading challenge for 2014.  </p>
            <div class="empty3"></div>
            <a href="http://www.ted.com/watch/ads-worth-spreading/click-baby">  <img src='http://i.imgur.com/jdzc3Ic.jpg' border='3px solid'
            border-radius='25px' width="50%" heigth="50%" alt="click baby click" /></a>

           
            
            <p class="aboutAd" align="left"> <strong>About this ad: </strong> Do you know what your marketing is doing? Are you sure? This hilarious spot from Adobe shows us what can go wrong when we're not paying attention to analytics.</p>


            <div class="empty3"></div>
            <div class="empty3"></div>
        <div class="empty3"></div>
            <div class="empty3"></div>




            <a href="http://www.ted.com/watch/ads-worth-spreading/mistakes">  <img src='http://s12.postimg.org/i9qx7j0kd/mistakes.png' border='3px solid'
            border-radius='25px' width="50%" heigth="50%" alt="mistakes" /></a>


            <p class="aboutAd" align="left"> <strong>About this ad: </strong>No one should pay for a mistake with their life. That's the punchline to this powerful conversation between two men without enough time to react to a life-changing accident. </p>
           
        </div>
        
    </div>
    <div class="empty3"></div>
    <div class="empty3"></div>

    <div class="achieve">

    <h1>Achievements</h1>
    <div class="empty3"></div>

    <div class="leftPhoto">
        <h3 class="smallTitle">MINA MEDHAT</h3>
        <div class="emptyp"></div>
        <img class="profileImage" src="http://i.imgur.com/x5vYKqT.jpg?1" />
        <p > Mina is becoming quite the TV star. He stared in one advertisement that is set to air in ramadan and he has just finished shooting his second. Hopefully soon we'll be seeing him on the big screen. Check out the Ad on<a href="https://youtu.be/ZTm3XYsiEp0">  youtube.</a></p>
    </div>

    <div class="rightPhoto">
        <h3 class="smallTitle">AMR MAGDY</h3>
        <div class="emptyp"></div>
        <img class="profileImage" src="http://i.imgur.com/JZBoRIj.jpg?1" />
        <p > We have a DJ in TEDxGUC, Amr magdy from team PR created a mix of cairokee's new single Mr. boombastic and it has already been played 3.2K times. Here is the link enjoy, <a href="https://soundcloud.com/orcyy/cairokee-marboot-be-astek-orcy-remix">  soundcloud.</a> </p>
    </div>

    </div>

    <div class="empty3"></div>
    <div class="empty3"></div>

    <div class="wrap2">
        <h1 > TEDx Previous & Upcoming Events</h1>
        <div class="empty3"></div>
        <div class="empty3"></div>
        <div class="tedUp">
            <h3 class="smallTitle"> Upcoming Events</h3>
             <div class="empty3"></div>
            <p >August 22, 2015 &nbsp; &nbsp;TEDxBeni Suef (standard)</p>
            <p >August 25, 2015 &nbsp; &nbsp;TEDxAASTMT   (University)</p>
        </div>
        <div class="tedRe">
            <h3 class="smallTitle"> Recent Events</h3>
            <div class="empty3"></div>
            <p>May 30, 2015 &nbsp; &nbsp; &nbsp; TEDxCairo Women (Tedxwomen)</p>
            <p>May 16, 2015 &nbsp; &nbsp; &nbsp; TEDxCairo (standard)</p>
        </div>
    </div>

   
<div class="empty3"></div>
        <div class="empty3"></div>
    <div>
            <img src="http://s1.postimg.org/9yykomi4f/Bottom_Icon.png" align="right" width="10%" height="10%">
            <img src="http://s22.postimg.org/mkcxpardd/Quote.png" width="50%" height="1%" margin-top="10%">
             <div class="empty3"></div>
            <div class="empty3"></div>

    </div>

    <div class="buttonWrapper">
                 <button type="button" class="buttonT" onclick="location.href = 'ed';" >Next</button>

            <div class="empty3"></div>
            <div class="empty3"></div>

            </div>


</div>
</body>
</html>