
<!DOCTYPE html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <title> TEDxGUC Newsletter Issue 2 </title>
    <style>
    body {
        background: url("http://i.imgur.com/qBUeSTd.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        width: 100%;
        max-height: 100%;
        background-size: 100% 100%;
    }
    
    .elsowar {
        width: 26%;
        height: auto;
        margin-bottom: -18.5%;
        margin-top: 11%;
        margin-left: 8%;
        margin-right: 9%;
    }
    
    .headaya {
        margin-left: 19.5%;
        margin-bottom: -10%;
        font-size: 1.7em;
        color: #527ACC;
        font-family: 'Lato', sans-serif;
    }
    
    .tips {
        color: white;
        float: right;
        font-family: 'Lato', sans-serif;
        min-width: 100%;
        margin-top: -11%;
        padding-left: 44%;
        margin-right: -94%;
        text-align: justify;
    }
    
    .title {
        color: #FF0000;
        font-family: 'Lato', sans-serif;
        font-size: 1.4em;
        vertical-align: 191%;
    }
    
    .rule {
        margin-left: 74%;
        margin-top: 30%;
        margin-bottom: 5%;
    }
    
    p {
        margin-top: 130px;
    }
    
    .chris {
        margin-top: 110px;
        margin-left: 100px;
       
    }
    
    .name {
        margin-bottom: 120px;
        margin-left: 30px;
    }
    
    .talk {
        margin-bottom: 88px;
        margin-left: -188px;
        
    }
    
    .ted {
        margin-bottom: 67px;
        margin-left: -461px;
       
    }
    
    .quote {
        margin-left: -21%;
        margin-top: -10%;
        height: auto;
        width: 60%;
    }
    </style>
</head>

<body>
    <img src="http://i.imgur.com/1etGCEG.png" class="chris">
    <img src="http://i.imgur.com/RdrPEDx.png" class="name">
    <img src=" http://i.imgur.com/9r8vARF.png" class="talk">
    <img src="http://i.imgur.com/2flRHxV.png " class="ted">
    <img src=" http://i.imgur.com/jvNmRa5.png" class="quote">
    <B> <p class="headaya">Tips From Our Beloved Curators </p> </B>
    <div class="elsowar">
        <img src="http://i.imgur.com/M5QcM4G.png" class="elsowar" style="margin-bottom: -18.8%;">
        <B> <span class="title"> Aya Samy </span> </B>
        <br>
        <B>   <span class="tips">

            Wanna be an executive ? Aya tells us that being an executive is a challenging yet an attainable task. You just need to stick with three golden rules
            1) Get to know your associates with their strengths and weaknesses.
            2) Accept the fact that you will learn from members under your command
            3) Do not be afraid to get your hands dirty and do the task yourself
        </span> </B>
        <br>
        <img src="http://i.imgur.com/LWVhq6o.png" class="elsowar">
        <B> <span class="title"> Ahmed Abul-Naga </span> </B>
        <br>
        <B> <span class="tips">
            How to make an executive's experience worth it?  
            let the Job description add to you and add to the job description. If you won't learn something new don't apply and if you won't add something new don't apply.Your team are humans not numbers, build a character share, an interest with them, let your passion flow through them and let them shape their own passion
        </span> </B>
        <br>
        <img src="http://i.imgur.com/IHnZ9wJ.png" class="elsowar">
        <B>  <span class="title"> Hesham El-Sherif </span> </B>
        <br>
        <B>   <span class="tips">
            Did you ever have any problems leading a team ? Hesham shared with us the knowledge he gained from being a team leader. According to Hesham's opinion, being a team leader means bonding with your team, your team should be your power and family. Every leader must have a vision and this vision must be shared with his team mates. A strong team completely understands its job description and has the abilities to perform his job accordingly.
        </span> </B>
    </div>
    <div class="rule">
        <img src="http://i.imgur.com/sEC3GsU.png">
    </div>
</body>

</html>
