<!DOCTYPE html>
<html>

<head> 
<title>TEDxGUC-Newsletter</title>

<style>

	
	.next {
    text-align: right;
   
}

</style>

</head>

<body>
 

 <div  style="width:100%; text-align:center">
<img src="http://s5.postimg.org/rgrv5432f/CA2.png" height="100%" width="85%">
</div>

<button onclick="location.href = 'home';" id="myButton" style="font-family:'Trebuchet MS'; align:'left'; vertical-align: middle; width: 100px; height: 20px"  >Previous</button>
<div class = "next">
<button onclick="location.href = 'page3';" id="myButton" style="font-family:'Trebuchet MS'; align:'left'; vertical-align: middle; width: 100px; height: 20px"  >Next</button>
</div>
 </body>