<!DOCTYPE html>
<html>

<head> 
<title>TEDxGUC-Newsletter</title>

<style>

	.pre{
		text-align: left;
		
	}
	
	.next {
    text-align: right;
   
}

</style>

</head>

<body>
 <embed name="Batman" src="http://vocaroo.com/i/s1yLOr35TVzp" loop="false" hidden="true" autostart="true"> 

 <div  style="width:100%; text-align:center">
<img src="http://s5.postimg.org/perdqv53b/Bt1.png" height="100%" width="80%">
</div>

<div class = "pre">
<button onclick="location.href = '/';" id="myButton" style="font-family:'Trebuchet MS'; align:'left'; vertical-align: middle; width: 100px; height: 20px"  >Home</button>
</div>
<div class = "next">
<button onclick="location.href = 'page2';" id="myButton2" style="font-family:'Trebuchet MS'; text-align:'right'; vertical-align: middle; width: 100px; height: 20px;" >Next</button>
</div>

 </body>


 