<!DOCTYPE html>
<html>

<head> 
<title>TEDxGUC-Newsletter</title>

</head>

<body>
 

 <div  style="width:100%; text-align:center">
<img src="http://s5.postimg.org/ntc3z1uvb/Bt2.png" height="100%" width="85%">
</div>

<button onclick="location.href = 'index';" id="myButton" style="font-family:'Trebuchet MS'; align='center';" >Previous</button>

<button onclick="location.href = 'page3';" id="myButton" style="font-family:'Trebuchet MS'; align='center';" >Next</button>

 </body>